input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.AcccessCodeContainer {
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  user-select: none;
  overflow-y: auto;

  background-image: url('/public/chuva_de_hamburguer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* max-height: 100vh; */
}

.AcccessCodeContainer .fieldContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  padding: 1em;
  border: solid medium #000;
  border-radius: 1em;
  margin: 1em;
  max-width: 80vw;
}

.AcccessCodeContainer label {
  background: #fff;
  padding: .25em;
  margin-left: 1em;
  margin-right: 1em;
  display: block;
  font-size: 1.5em;
  border: solid thin #000;
  border-radius: .5em;
  white-space-collapse: preserve;
}

.AcccessCodeContainer input {
  /* display: block; */
  padding: 1em;
  max-width: 70%;
  word-break: break-all;
  border-radius: .25em;
  font-size: 1.5em;
}

.AcccessCodeContainer .inputAccessCode {
  /* display: block; */
  padding: 1em;
  word-break: break-all;
  border-radius: .25em;
  font-size: 1.5em;
}

.AcccessCodeContainer .goBackButton {
  background: #fff;
  display: block;
  padding: .5em;
  width: auto;
  border-radius: 1em;
  font-size: 1.5em;
  white-space-collapse: preserve;
}

.AcccessCodeContainer .goBackButton:hover {
  background: orange;
  cursor: pointer;
}

.AcccessCodeContainer .submitButton {
  background: rgb(236, 236, 236);
  display: block;
  padding: .2em;
  width: auto;
  height: 3em;
  margin: 1em;
  border-radius: 1em;
  font-size: 1.5em;
  white-space-collapse: preserve;
}

.AcccessCodeContainer .submitButton:hover {
  background: orange;
  cursor: pointer;
}

.AcccessCodeContainer .submitButton:disabled {
  background: #fff;
  cursor: pointer;
}