.cartContainer {
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    background: rgb(231, 77, 0);
    border: solid thin #000;
    border-radius: 1em;
    margin-bottom: 6em;
}

/* .cartContainer::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(93, 0, 0, 0.248);
  border-radius: 1em;
} */

#deleteIcon:hover {

    color: red;
    transform: scale(3.5) rotate(-10deg);

}