.cartContainer {
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  background: rgb(231, 77, 0);
  border: solid thin #000;
  border-radius: 1em;
  margin-bottom: 6em;
}

/* .cartContainer::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transition: preserve-3d;
  transform: translateZ(-1em) translateY(-1em);
  border-radius: 1em;
} */

#deleteIcon:hover {

  color: red;
  transform: scale(3.5) rotate(-10deg);

}