html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  /* min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 100vw; */
  width: fit-content;
  height: auto;
  background-image: url('/public/chuva_de_hamburguer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
    /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  color: white;
}

.page404 {
  color: #000;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  background-image: url('/public/chuva_de_hamburguer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.page404 p {
  display: inline;
  color: #fff;
}

.App-logo {
  height: 40vmin;
  /* pointer-events: none; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
